.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    font-size: 30px;
}
.btn button{
    font-size: 20px;
}
.dark_theme{
    background-color: black;
    color: white;
}

